$small: 576px;

.cartouter{
height: 90vh;
.cartcontainer{
    width:1200px;
    padding: 10px;
    background-color: rgb(4, 100, 103);
    color: #fff;
    font-weight: 500;
    border-radius: 6px;

        .snohead{
            flex:.1;
     

        }
        .imagehead{
            flex:0.3;


        }
        
        .namehead{
            flex:0.3;


        }
        
        .qtyhead{
            flex:0.1;

        }
        
        .pricehead{
            flex:0.2;

        }
        
    }


    .itemcontainer{
   
    position: relative;
    width: 1200px;
    border-radius: 6px;
    background-color: #fff;
      .sno1{
        flex:0.1;
      }


       .image1{
          flex:0.3;
          img{
            width: 150px;
            height: 150px;
            padding:10px;
            object-fit: contain;
          }
       }

       .name1{
        flex:0.3;
       }

       .qty1{
        flex:0.1;

        button{
        width:30px;
        height: 30px;
        border-radius: 50%;
        padding: 5px;
        background-color: rgb(4, 100, 103);
        color: #fff;
        border: none;
        }
       }
       .pl-2{
        margin-left:10px;
       }

       .price1{
        flex:0.2;

        button{
            width:30px;
            height: 30px;
            border-radius: 50%;
            padding: 5px;
            background-color: rgb(4, 100, 103);
            color: #fff;
            border: none;
            }
       }

     h4{
         padding:0 10px ;
         padding-top:10px;
     }
    }
.totalcontainer{
    width: 1200px;
    bottom: 0px;   
    position: absolute;
 
    .buy{
        margin: 20px;

        width:90%;
        border-radius:10px;
        padding: 5px;
        background-color: rgb(4, 100, 103);
        color: #fff;
        border: none;
        
        &:hover{
        background-color: rgb(14, 48, 49);
        }
       }

       h3{
     text-align: right;
       }
}

@media screen and (max-width: $small) {
   width:100%;

   .cartcontainer{
    width:100%;
   }
}
}