$color1: rgb(39, 173, 167);
$small: 576px;

.navcontainer {
  height: 80px;
  background-color: $color1;
  h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin-left: 80px !important;
  }

  .cont-1 {
    flex: 0.7;
  }
  .cont-2 {
    flex: 0.3;
  }

  input {
    border-radius: 5px;
    outline: none;
    border: none;
    width: 300px;
    margin-right: 10px;
    &:focus {
      border: 2px solid #045f56;
    }
  }

  .search {
    font-size: 30px;
    color: white;
    width:30px;
    margin-right:20px;

    &:hover {
      color: #045f56;
      transform: scale(1.1);
    }
  }
  .cart {
    font-size: 30px;
    color: white;
    width:50px;
   

    &:hover {
      color: #045f56;
      transform: scale(1.1);
    }
  }
  .cartlink{
    position:relative;
    width:50px;
    margin-right: 20px;
  }

  .round{
    width:25px;
    height:25px;
    border-radius: 50%;
    background-color: #045f56;
    color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:-20px;
    right:0px;
  }

  @media screen and (max-width: $small) {
    flex-direction: column !important;
    text-align: center;
    position: relative;
    height: 100px;

    h1 {
      font-size: 24px;
      margin: 10px 0 !important;
    }
    .cont-1 {
      flex: 1;
    }
    .cont-2 {
      flex: 1;
      padding-left: 20px;
    }

    input {
    width:75%;
    }
    .cart {
      font-size: 24px;
      width:20px;
    
    }
    .cartlink{
     margin-right:25px;
   
    }
    .search {
      font-size: 24px;
      width: 20px;
   
    }

    .round{
      right:-20px;
    }
  }


}
